.color-picker {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  box-sizing: border-box;
}

.banner {
  width: 80vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  box-sizing: border-box;
}

.title {
  background: white;
  padding: 1em 2em;
  display: inline-block;
  border: solid 1px black;
  box-sizing: border-box;
}

.colors {
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-flow: wrap;
  margin-top: 10vh;
  justify-content: center;
}

.swatch {
  width: 50px;
  height: 50px;
  margin-left: 1em;
  border: solid 1px black;
  box-sizing: border-box;
}

.swatch:first-of-type {
  background: white;
  margin-left: 0;
}
